/* Top Nav Stylings */
.topnav {
  overflow: hidden;
  background-color: white;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 5px;
}

.topnav .element {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .hover:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav .element:not(.icon):not(.logo) {display: none;}
  
  
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.burger {position: relative;}
  .topnav.burger .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.burger .element:not(.logo) {
    float: none;
    display: block;
    text-align: left;
  }
  
  
  .topnav.burger .logo {
    display: none;
  }
  
}

.topnav .dropdown .pfpcontent{
    transform: translate(-65px, 0px);
}

.topnav.burger .dropdown .pfpcontent{
    transform: translate(0px, 0px);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  text-align: left;
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  width: fit-content;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translate(-15px, 0px);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}






/* Form stylings */

.form label{
    font-family: Arial, Helvetica, sans-serif;
}

.form button{
    margin-top: 15px;
    padding: 6px;
    padding-right: 8px;
}

.form{
    margin-top: 5%;
    margin-left: 18%;
    display: inline-block;
}

.form .inputs{
    margin-top: 30px;
    font-size: 14px;
}

.form .inputs > *{
    margin-top: 4px;
    margin-bottom: 4px;
}

.form .one-input > *{
    width: 65.3%;
}

.form .two-inputs > *{
    width: 30.9%;
    margin-right: 1.6%;
}

.form .three-inputs > *{
    width: 12%;
    margin-right: 1.6%;
}

.form input{
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgray;
    padding: 2px;
    height: 23px;
}

.form form {
    display: block;
}

.form hr{
    width: 68%;
    float: left;
    border-width: 1px;
}

/* Home Container */

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.splashText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    white-space: nowrap; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login{
    width: 50%;
}

/* Message box stylings */

.alert {
    border-width: 10px;
    background-color: #e0291c; 
    color: #000000;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 22px;
    
}

.info {
    border-width: 10px;
    background-color: #003cff; 
    color: #000000;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 22px;
    
}

.close_button:hover {
    color: #ffffff;
} 
  
.close_button {
    font-size: 23px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 16px;
    font-weight: bold;
    float: right;
    color: #000000;
    transition: 0.4s;
}

/* Other Stylings */

.textbox{
    word-wrap: break-word;
    
    padding: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

body{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#34adc2, #0fb397);
}

.centre {
  margin: auto;
  width: 50%;
  display: block;
}

/*
.map{
    margin-left: 5px;
    
    width: 50%;
    float: right;
    height: 600px;
}



.textbox{
    word-wrap: break-word;
    width: 45%;
    
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 40px;
    display: inline-block;
}
*/
