{{ define "content" }}

<h1>Boat Market</h1>
Browse our selection of boats for sale
<hr style="background-color: black; border-color: black; border-width: 1px;">
<br>

<div>
<div class="boats" id="boats">
	{{ range .Boats }}
		<span class="boaticon">
			<br>
			<img src="/static/boatsforsale/{{.Image}}.jpg" alt="Image Unavailable" width="300" height="300">
			
			<hr>
			{{.Name}} - {{.Price}}
			<br>
			<button class="boatviewbutton">View</button>
		</span>
	{{ end }}
</div>
</div>
<script src="/static/js/boats.js"></script>


{{ end }}
