{{ define "content" }}

<div class="textbox">
	We at UKIW Marinas are developing an all new marina located in the heart of claydon.
	Our spectacular marina will serve for short, medium and long term moorings for narrowboats
	up to 70 feet in length! Due to the large size of our new marina, it will have space for up
	to 300 boats and multiple must-have facilites such as:
	<ul>
		<li>An on site shop and cafe</li>
		<li>Washing and toilet facilites</li>
		<li>A lanudrette</li>
		<li>And electric car charging</li>
	</ul> 
	
	The marina will also host a maintenance section which will include:
	<ul>
		<li>A dry dock for repairs</li>
		<li>A canal side septic tank pump out service</li>
		<li>A diesel refuling station</li>
		<li>And a Calor Gas refuling station </li>
	</ul> 
	
	The marina will also contain muliple shops for your convinence. Click <a href="/sales/shops">here</a> to find out more.
	
	If you are interested in becoming a salor, we are currently offering low-interest finance for boats purchased 
	using our <a href="/sales/boats">boat sales service</a>.
	
	We are so excited to see this marina in action, and we hope you are too.
</div>

{{ end }}
