{{ define "content" }}

<h1>Claydon Marina</h1>

<div class="textbox">
	We at UKIW Marinas are developing an all new marina located in the core of claydon.
	Our spectacular marina will serve for short, medium and long term moorings for narrowboats
	up to 70 feet in length! Due to the large size of our new marina, it will have space for up
	to 300 boats and multiple must-have facilites such as:
	<ul>
		<li>An on site shop and cafe</li>
		<li>Washing and toilet facilites</li>
		<li>A lanudrette</li>
		<li>And electric car charging</li>
	</ul> 
	
	The marina will also host a maintenance section which will include:
	<ul>
		<li>A dry dock for repairs</li>
		<li>A canal side septic tank pump out service</li>
		<li>A diesel refuling station</li>
		<li>And a Calor Gas refuling station </li>
	</ul> 
	
	The marina will also contain muliple shops for your convinence. Click <a href="/sales/shops">here</a> to find out more.
	
	If you are interested in becoming a salor, we are currently offering low-interest finance for boats purchased 
	using our <a href="/sales/boats">boat sales service</a>.
	
	We are so excited to see this marina in action, and we hope you are too.
</div>

<h1 style="text-align: center;">Reviews</h1>

<div class="reviewbox">
    John Darwin | ★★★★☆
    <hr>
    A very good marina with lots of facilites. The area is great and the staff are kind, I will definitely be going back soon!
    
    <br><br>
    <div style="text-align: left;">25/02/22</div>
</div>

<div class="reviewbox">
    Mick Rickard | ★★★★★
    <hr>
    I absolutely loved my day out at the marina - it was marvelous! 10/10 would recommend to anyone and everyone. 
    
    <br><br>
    <div style="text-align: left;">02/04/22</div>
</div>

<div class="reviewbox">
    James Adamson | ★★★☆☆
    <hr>
    Was good but have seen better.
    
    <br><br><br><br>
    <div style="text-align: left;">08/01/22</div>
</div>
{{ end }}
